{% extends 'base.html' %}

{% block content %}
    <h1>All Shifts</h1>
    <table>
        <tr>
            <th>Start</th>
            <th>End</th>
            <th>Duration</th>
            <th>Link</th>
        </tr>
        {% for instance in object_list %}
            <tr>
                <td> {{ instance.start_time }}</td>
                <td> {{ instance.end_time }}</td>
                <td> {{ instance.duration }}</td>
                <td><a href="{{ instance.get_absolute_url }}">Detail</a></td>
            </tr>

        {% endfor %}

    </table>

    <div>
        <a href="./create" role="button">Create</a>
    </div>


{% endblock %}