{% extends 'base.html' %}

{% block content %}
    <h1>Shift</h1>
    <section>
        <table>
            <tr>
                <th>Start</th>
                <td> {{ object.start_time }}</td>
            </tr>
            <tr>
                <th>End</th>
                <td>{{ object.end_time }}</td>
            </tr>
            <tr>
                <th>Duration</th>
                <td>{{ object.duration }}</td>
            </tr>
        </table>

    </section>
    <div>
        <a href="./update" role="button">Update</a>
        <a href="./delete" role="button">Delete</a>
        <a href="../">Back</a>
    </div>


{% endblock %}