<nav>
    <ul>
        <li>
            <details role="list">
                <summary aria-haspopup="listbox" role="link">Staff</summary>
                <ul role="listbox">
                    <li><a href="/staff/">All</a></li>
                    <li><a href="/staff/create">Create</a></li>
                </ul>
            </details>
        </li>
        <li>
            <details role="list">
                <summary aria-haspopup="listbox" role="link">Shifts</summary>
                <ul role="listbox">
                    <li><a href="/shift/">All</a></li>
                    <li><a href="/shift/create">Create</a></li>
                </ul>
            </details>
        </li>
        <li>
            <details role="list">
                <summary aria-haspopup="listbox" role="link">Schedules</summary>
                <ul role="listbox">
                    <li><a href="/schedule/">All</a></li>
                    <li><a href="/schedule/create">Create</a></li>
                </ul>
            </details>
        </li>
        <li>
            <details role="list">
                <summary aria-haspopup="listbox" role="link">Days</summary>
                <ul role="listbox">
                    <li><a href="/day/">All</a></li>
                </ul>
            </details>
        </li>
    </ul>
</nav>