{% extends 'base.html' %}

{% block content %}
    <h1>All Staff</h1>
    <table>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Active</th>
            <th>Link</th>
        </tr>
        {% for instance in object_list %}
            <tr>
                <td> {{ instance.first_name }}</td>
                <td> {{ instance.last_name }}</td>
                <td> {{ instance.active }}</td>
                <td><a href="{{ instance.get_absolute_url }}">Link</a></td>
            </tr>

        {% endfor %}

    </table>

{% endblock %}